<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/js/script.js" defer></script>
  <title>Home</title>
</head>

<body>
  <main>
    <!-- Header -->
    <header class="header">
      <div class="content">
        <nav class="navbar">
          <!-- Logo -->
          <a href="/"><img src="/img/Logo.svg" alt=""></a>

          <!-- Navigation -->
          <ul class="nav-menu">
            <li><a href="#!">Nam</a></li>
            <li><a href="#!">Nữ</a> </li>
            <li><a href="#!">Trẻ em</a></li>
            <li><a href="#!">Phụ kiện</a></li>
          </ul>

          <!-- Search -->
          <div class="search-container">
            <form action="/search" method="get">
              <input type="text" name="q" placeholder="Tìm kiếm" class="input" required>
              <button type="submit" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>

          <!-- Icon -->
          <ul class="icon">
            <li><a href="/account"><i class="fa-solid fa-user user-icon"></i></a></li>
            <li><a href="/cart/products"><i class="fa-solid fa-cart-shopping cart-icon"></i></a></li>
          </ul>
        </nav>
      </div>

      <button class="scroll-to-top">
        <img src="img/scroll.svg" alt="Scroll to top">
      </button>
    </header>

    <!-- Banner -->
    <section class="wrapper">
      <i class="fa-solid fa-arrow-left button" id="prev"></i>
      <div class="image-container">
        <div class="carousel">
          <img src="img/banner_1.jpg" alt="" />
          <img src="img/banner_2.jpg" alt="" />
          <img src="img/banner_3.jpg" alt="" />
          <img src="img/banner_4.jpg" alt="" />
        </div>
        <i class="fa-solid fa-arrow-right button" id="next"></i>
      </div>
    </section>

    <!-- Sandals Best -->
    <div class="homebest-content">
      <div class="content">
        <h2>Sandals Best</h2>

        <div class="tab-header">
          <p class="p1">Bán chạy nhất</p>
          <p class="p2">Mới ra mắt</p>
        </div>

        <div class="list">
          <!-- Sandal-Item 1 -->
          <div class="item">
            <a href="/products/<%= sandals[0]?.ID %>">
              <img src="<%= sandals[0]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
                <h3 class="title"><%= sandals[0]?.tensanpham %></h3>
              <p class="desc">Quai xoay thành dép</p>
              <p class="cost"><%= sandals[0]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 2 -->
          <div class="item">
            <a href="/products/<%= sandals[1]?.ID %>">
              <img src="<%= sandals[1]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[1]?.tensanpham %></h3>
              <p class="desc">Quai tháo thành dép</p>
              <p class="cost"><%= sandals[1]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 3 -->
          <div class="item">
            <a href="/products/<%= sandals[2]?.ID %>">
              <img src="<%= sandals[2]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[2]?.tensanpham %></h3>
              <p class="desc">Quai hậu tháo thành dép</p>
              <p class="cost"><%= sandals[2]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 4 -->
          <div class="item">
            <a href="/products/<%= sandals[3]?.ID %>">
              <img src="<%= sandals[3]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[3]?.tensanpham %></h3>
              <p class="desc">Tăng chiều cao</p>
              <p class="cost"><%= sandals[3]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 5 -->
          <div class="item">
            <a href="/products/<%= sandals[4]?.ID %>">
              <img src="<%= sandals[4]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[4]?.tensanpham %></h3>
              <p class="desc">Quai hậu tháo thành dép</p>
              <p class="cost"><%= sandals[4]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Feature 1 -->
    <div class="feature">
      <div class="content">
        <h1>Sandals</h1>
        <p class="p3">Thoải mái - Thời trang</p>
        <p class="p4">Khám phá ngay</p>
      </div>
    </div>

    <!-- Sandals Best -->
    <div class="homebest-content">
      <div class="content">
        <div class="tab-header tab-header-2">
          <p class="p1">Nữ</p>
          <p class="p2">Nam</p>
          <p class="p3">Trẻ em</p>
        </div>

        <div class="list">
          <!-- Sandal-Item 1 -->
          <div class="item">
            <a href="/products/<%= sandals[0]?.ID %>">
              <img src="<%= sandals[0]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
                <h3 class="title"><%= sandals[0]?.tensanpham %></h3>
              <p class="desc">Quai xoay thành dép</p>
              <p class="cost"><%= sandals[0]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 2 -->
          <div class="item">
            <a href="/products/<%= sandals[1]?.ID %>">
              <img src="<%= sandals[1]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[1]?.tensanpham %></h3>
              <p class="desc">Quai tháo thành dép</p>
              <p class="cost"><%= sandals[1]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 3 -->
          <div class="item">
            <a href="/products/<%= sandals[2]?.ID %>">
              <img src="<%= sandals[2]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[2]?.tensanpham %></h3>
              <p class="desc">Quai hậu tháo thành dép</p>
              <p class="cost"><%= sandals[2]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 4 -->
          <div class="item">
            <a href="/products/<%= sandals[3]?.ID %>">
              <img src="<%= sandals[3]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[3]?.tensanpham %></h3>
              <p class="desc">Tăng chiều cao</p>
              <p class="cost"><%= sandals[3]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sandal-Item 5 -->
          <div class="item">
            <a href="/products/<%= sandals[4]?.ID %>">
              <img src="<%= sandals[4]?.hinhanh %>" alt="" class="thumb">
            </a>
            <div class="body">
              <h3 class="title"><%= sandals[4]?.tensanpham %></h3>
              <p class="desc">Quai hậu tháo thành dép</p>
              <p class="cost"><%= sandals[4]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="feature">
      <div class="content">
        <h1>Sneaker</h1>
        <p class="p3">Đơn giản - Trẻ trung</p>
        <p class="p4">Khám phá ngay</p>
      </div>
    </div>

    <!-- Sneaker Best -->
    <div class="homebest-content">
      <div class="content">
        <div class="tab-header tab-header-2">
          <p class="p1">Unisex</p>
          <p class="p2">Nữ</p>
        </div>

        <div class="list">
          <!-- Sneaker-Item 1 -->
          <div class="item">
            <a href="/products/<%= sneakers[0]?.ID %>">
              <img src="<%= sneakers[0]?.hinhanh %>" alt="" class="thumb"> 
            </a>
            <div class="body">
              <h3 class="title"><%= sneakers[0]?.tensanpham %></h3>
              <p class="desc">Êm chân và tăng chiều cao</p>
              <p class="cost"><%= sneakers[0]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sneaker-Item 2 -->
          <div class="item">
            <a href="/products/<%= sneakers[1]?.ID %>">
              <img src="<%= sneakers[1]?.hinhanh %>" alt="" class="thumb"> 
            </a>
            <div class="body">
              <h3 class="title"><%= sneakers[1]?.tensanpham %></h3>
              <p class="desc">Êm chân và tăng chiều cao</p>
              <p class="cost"><%= sneakers[1]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sneaker-Item 3 -->
          <div class="item">
            <a href="/products/<%= sneakers[2]?.ID %>">
              <img src="<%= sneakers[2]?.hinhanh %>" alt="" class="thumb"> 
            </a>
            <div class="body">
              <h3 class="title"><%= sneakers[2]?.tensanpham %></h3>
              <p class="desc">Êm chân và tăng chiều cao</p>
              <p class="cost"><%= sneakers[2]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sneaker-Item 4 -->
          <div class="item">
            <a href="/products/<%= sneakers[3]?.ID %>">
              <img src="<%= sneakers[3]?.hinhanh %>" alt="" class="thumb"> 
            </a>
            <div class="body">
              <h3 class="title"><%= sneakers[3]?.tensanpham %></h3>
              <p class="desc">Siêu nhẹ</p>
              <p class="cost"><%= sneakers[3]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

          <!-- Sneaker-Item 5 -->
          <div class="item">
            <a href="/products/<%= sneakers[4]?.ID %>">
              <img src="<%= sneakers[4]?.hinhanh %>" alt="" class="thumb"> 
            </a>
            <div class="body">
              <h3 class="title"><%= sneakers[4]?.tensanpham %></h3>
              <p class="desc">Siêu nhẹ</p>
              <p class="cost"><%= sneakers[4]?.gia.toLocaleString() %> đ</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Commit -->
    <div class="commit">
      <div class="content">
        <h1>Cam kết</h1>

        <div class="list-commit">
          <!-- Item 1 -->
          <div class="item-commit">
            <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
            <p class="p-commit">FREESHIP cho đơn chỉ từ 300k</p>
          </div>

          <!-- Item 2 -->
          <div class="item-commit">
            <div class="icon"><i class="fa-solid fa-shield"></i></div>
            <p class="p-commit">Cam kết sản phẩm giống hình 100%</p>
          </div>

          <!-- Item 3 -->
          <div class="item-commit">
            <div class="icon"><i class="fa-solid fa-bag-shopping"></i></div>
            <p class="p-commit">Đổi trả và bảo hành trong 90 ngày</p>
          </div>
        </div>
      </div>
    </div>

    <!-- KOL -->
    <div class="homebest-content-kol">
      <div class="content">
        <div class="tab-header tab-header-2">
          <p class="p1">Best KOL</p>
          <p class="p2">Lifestyle</p>
          <p class="p3">Story</p>
        </div>

        <h2>KOL Best</h2>

        <div class="list">
          <!-- KOL-Item 1 -->
          <div class="item kol-item">
            <a href="#!">
              <img src="img/kol_1.png" alt="" class="thumb">
            </a>

          </div>

          <!-- KOL-Item 2 -->
          <div class="item kol-item">
            <a href="#!">
              <img src="img/kol_2.png" alt="" class="thumb">
            </a>
          </div>

          <!-- KOL-Item 3 -->
          <div class="item kol-item">
            <a href="#!">
              <img src="img/kol_3.png" alt="" class="thumb">
            </a>
          </div>

          <!-- KOL-Item 4 -->
          <div class="item kol-item">
            <a href="#!">
              <img src="img/kol_4.png" alt="" class="thumb">
            </a>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="content">
        <div class="row">
          <div class="footer-col">
            <h4>Về chúng tôi</h4>
            <ul>
              <li><a href="#!">Giới thiệu</a></li>
              <li><a href="#!">Tìm đại lý</a></li>
              <li><a href="#!">Tuyển dụng</a></li>
              <li><a href="#!">Blog</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Chính sách</h4>
            <ul>
              <li><a href="#!">Thông tin bản quyền</a></li>
              <li><a href="#!">Chính sách bảo mật</a></li>
              <li><a href="#!">Chính sách khách hàng thân thiết</a></li>
              <li><a href="#!">Chính sách đổi, trả và bảo hành</a></li>
              <li><a href="#!">Hướng dẫn thanh toán</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Hỗ trợ khách hàng</h4>
            <ul>
              <li><a href="#!">Hướng dẫn chọn size</a></li>
              <li><a href="#!">Câu hỏi thường gặp</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Theo dõi chúng tôi</h4>
            <div class="social-links">
              <a href="#!"><i class="fab fa-facebook-f"></i></a>
              <a href="#!"><i class="fab fa-twitter"></i></a>
              <a href="#!"><i class="fab fa-instagram"></i></a>
              <a href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      window.onscroll = function () {
        let scrollButton = document.querySelector('.scroll-to-top');
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          scrollButton.style.display = "block";
        } else {
          scrollButton.style.display = "none";
        }
      };

      document.querySelector('.scroll-to-top').addEventListener('click', function () {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      });

    </script>


  </main>

</body>

</html>