<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My account</title>
</head>

<body>
    <main>
        <!-- Header -->
        <header class="header">
            <div class="content">
                <nav class="navbar">
                    <!-- Logo -->
                    <a href="/"><img src="/img/Logo.svg" alt=""></a>

                    <!-- Navigation -->
                    <ul class="nav-menu">
                        <li><a href="#!">Nam</a></li>
                        <li><a href="#!">Nữ</a> </li>
                        <li><a href="#!">Trẻ em</a></li>
                        <li><a href="#!">Phụ kiện</a></li>
                    </ul>

                    <!-- Search -->
                    <div class="search-container">
                        <form action="/search" method="get">
                        <input type="text" name="q" placeholder="Tìm kiếm" class="input" required>
                        <button type="submit" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        </form>
                    </div>

                    <!-- Icon -->
                    <ul class="icon">
                        <li><a href="/account"><i class="fa-solid fa-user user-icon"></i></a></li>
                        <li><a href="/cart/products"><i class="fa-solid fa-cart-shopping cart-icon"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Info -->
        <div class="container">
            <h2>Thay đổi thông tin tài khoản</h2>
            <% if (successMessage) { %>
                <div class="alert alert-success">
                    <%= successMessage %>
                </div>
            <% } %>

            <% if (errorMessage) { %>
                <div class="alert alert-danger">
                    <%= errorMessage %>
                </div>
            <% } %>
            <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
            <form class="form" method="POST" action="/account">
                <!-- Họ tên -->
                <label for="username" class="label">Họ tên</label>
                <input type="text" id="username" name="username" required class="input" value="<%= user.hoten %>">
        
                <!-- Số điện thoại -->
                <label for="phone" class="label">Số điện thoại</label>
                <input type="text" id="phone" name="phone" required class="input" value="<%= user.sodienthoai %>">
        
                <!-- Địa chỉ nhà -->
                <label for="address" class="label">Địa chỉ nhà</label>
                <input type="text" id="address" name="address" required class="input" value="<%= user.diachi %>">
        
                <!-- Thành phố -->
                <label for="city" class="label">Thành phố</label>
                <input type="text" id="city" name="city" required class="input" value="<%= user.thanhpho %>">
        
                <!-- Phường -->
                <label for="ward" class="label">Phường</label>
                <input type="text" id="ward" name="ward" required class="input" value="<%= user.phuong %>">
        
                <!-- Quận -->
                <label for="district" class="label">Quận</label>
                <input type="text" id="district" name="district" required class="input" value="<%= user.quan %>">
        
                <!-- Nút Lưu -->
                <button type="submit" class="submit">Lưu</button>
            </form>
        </div>

        <script>
            setTimeout(function() {
                const alert = document.querySelector('.alert');
                if (alert) {
                    alert.style.display = 'none';
                }
            }, 3000); 
        </script>

        <!-- Footer -->
        <footer class="footer">
            <div class="content">
                <div class="row">
                    <div class="footer-col">
                        <h4>Về chúng tôi</h4>
                        <ul>
                            <li><a href="#!">Giới thiệu</a></li>
                            <li><a href="#!">Tìm đại lý</a></li>
                            <li><a href="#!">Tuyển dụng</a></li>
                            <li><a href="#!">Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Chính sách</h4>
                        <ul>
                            <li><a href="#!">Thông tin bản quyền</a></li>
                            <li><a href="#!">Chính sách bảo mật</a></li>
                            <li><a href="#!">Chính sách khách hàng thân thiết</a></li>
                            <li><a href="#!">Chính sách đổi, trả và bảo hành</a></li>
                            <li><a href="#!">Hướng dẫn thanh toán</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Hỗ trợ khách hàng</h4>
                        <ul>
                            <li><a href="#!">Hướng dẫn chọn size</a></li>
                            <li><a href="#!">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Theo dõi chúng tôi</h4>
                        <div class="social-links">
                            <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                            <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </main>
</body>

</html>